/* Aplica ajustes de filtro apenas às imagens de fundo */
.imgfundospet,
.imgfundocadastropet,
.imgfundoagendamento {
    filter: contrast(100%) brightness(90%) saturate(100%);

}

/*serviço pet*/
.imgfundospet {
    background-image: url('img/imgfundospet.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120vh;
    margin-bottom: 0;
}

#bodyServicosPet {
    margin: 0;
}

/* cadastro_pet.css */
.imgfundocadastropet {
    background-image: url('img/imgfundocadastropet.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120vh;
    margin-bottom: 0;
}

#bodyCadastroPet {
    margin: 0;
}

/* agendamento.css */
.imgfundoagendamento {
    background-image: url('img/imgfundoagendamento.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120vh;
    margin-bottom: 0;
}

#bodyAgendamentoServico {
    margin: 0;
}
/* Estilos para intensificar as cores */
.col-6 {
    color: #ffffff; /* Branco */
}

/* Adicione estilos adicionais para os elementos de texto, se necessário */
h1, p, label {
    color: #ffffff; /* Branco */
}

#bodyServicosPet p.text-center a {
    color: #ffff00; /* Amarelo */
    /* Cor do texto do link */
    text-decoration: none;
    /* Remove o sublinhado padrão */
}

#bodyServicosPet p.text-center a:hover {
    text-decoration: underline;
    /* Adiciona sublinhado ao passar o mouse sobre o link */
}
h1, p, label {
    color: #ffffff; /* Branco */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.10); /* Ajustar o desfoque */
}
