.imgfundospet {
    /* Substitua 'img/imgfundospet.png' pelo caminho real para a sua imagem de fundo */
    background-image: url('img/imgfundospet.png');
    /* Ajuste as propriedades do plano de fundo para cobrir completamente o contêiner */
    background-size: cover; /* ou background-size: 100% 100%; */
    background-position: center;
    background-repeat: no-repeat;
    /* Adicione preenchimento ou outros estilos conforme necessário */
    padding: 20px;
}

#bodyServicosPet {
    /* Estilos adicionais para o body, se necessário */
    margin: 0;
}
