/* Aplica ajustes de filtro apenas às imagens de fundo */
.imgfundospet,
.imgfundocadastropet,
.imgfundoagendamento {
    filter: contrast(90%) brightness(90%) saturate(90%);
}

/*serviço pet*/
.imgfundospet {
    background-image: url('img/imgfundospet.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120vh;
    margin-bottom: 0;
}

#bodyServicosPet {
    margin: 0;
}

/* cadastro_pet.css */
.imgfundocadastropet {
    background-image: url('img/imgfundocadastropet.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120vh;
    margin-bottom: 0;
}

#bodyCadastroPet {
    margin: 0;
}

/* agendamento.css */
.imgfundoagendamento {
    background-image: url('img/imgfundoagendamento.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120vh;
    margin-bottom: 0;
}

#bodyAgendamentoServico {
    margin: 0;
}
